.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 1.5rem;
    background-color: #f4f4f4; /* eller en meget lys grøn, hvis du ønsker */
}

@media (max-width: 640.98px) {
    main {
        padding: 1rem 0.5rem;
    }
}
