/* Keep this in MainLayout.razor.css */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 1.5rem;
    background-color: #FAF1E4; 
}

@media (max-width: 640.98px) {
    main {
        padding: 1rem 0.5rem;
    }
}